@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    justify-content: center;
    color: blue;
}

.page-item {
    margin: 1em; /* Ajusta según tu preferencia */
    color: black;
}
